@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#title {
  font-weight: 300;
  margin-left: 30px;
  color: #999;
}

#buffer {
  height: 30vh;
}

#search-module {
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

input#searchbox {
  height: 45px;
  font-weight: 300;
  font-size: 18px;
  border: 2px solid #ccc;
}

input#searchbox::-webkit-input-placeholder {
  font-weight: 300;
}

input#searchbox:focus {
  outline: none;
  /*box-shadow: 0 0 20px #92e2ff;*/
  box-shadow: none;
  border: 2px solid #1caff6;
}

#searchbutton {
  height: 45px;
  border: 2px solid #ccc;
  border-left: none;
  box-shadow: none;
  position: relative;
  left: 1px;
  font-weight: 300;
  font-size: 16px;
  color: #999;
}

#searchbutton:hover,
#searchbutton:focus {
  outline: none;
  background-color: white;
  color: #333;
}

#results-module {
  width: 1000px;
  margin: auto;
  position: relative;
  top: 20px;
  margin-bottom: 50px;
}

.info {
  color: #999;
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-result {
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-title {
  font-size: 130%;
  color: #d43d21;
}

.list-title:hover,
.list-title:focus {
  color: #d43d21;
}

.search-term {
  cursor: pointer;
}

.list-meridian {
  font-size: 90%;
  color: #333;
}

.list-description {
  padding-top: 10px;
  font-size: 105%;
}

footer {
  text-align: center;
  color: #999;
  /*color: #777;*/
  font-size: 75%;
  position: relative;
  padding: 50px;
}

@media screen and (max-device-width: 768px)
              and (orientation: portrait) {
  #search-module {
    width: 250px;
  }

  #results-module {
    width: 350px;
    padding: 15px;
  }

  footer {
    width: 350px;
  }
}

@media screen and (max-device-width: 768px)
              and (orientation: landscape) {
  #search-module {
    width: 400px;
  }

  #results-module {
    width: 650px;
    padding: 15px;
  }
}